#navbarTogglerDemo02{
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: center;
}

.navbar-toggler-right{
    margin-left: auto;
}

i{
    padding: 0px;
}

.bi-basket::before{
    padding-right: 8px;
}


ul{
    width: 100%;
}



li{
    margin-right: auto;
}

.container-fluid{
    padding: 0px;
    width: 100%;
    background-color: #e9ecef;
}
@media (min-width: 768px) { 

    li{
        display: flex;
        align-items: center;
        margin-right: 0;
    }

    .sign-in{
        margin-left: auto;
        margin-right: 20px;
    }

    .nav-cart-link{
        margin-left: 20px;
    }
}