
:host{
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

section{
    width:100% !important;
    max-height: 500px;
    position: relative;
}

main{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: space-between;
    justify-items: center;
    margin-bottom: 20px;
    padding-top:30px;
    align-self: center;
}

.card-container
{
    width: 100%;
}

@media(min-width: 430px){
    img{
        padding-top: 1rem;
    }
}

@media(min-width : 1000px){
    main{
        max-width: 1150px;
    }
}

