.card{
    width:100% !important;
    display: grid;
    grid-template-rows: 1fr 100px;
    grid-template-columns: 100%;
    min-height: 350px;
    padding-top: 30px;
}

.card-body{
    grid-row: 2 / 4;
}

.card-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100% - 2rem);
}

img{
    height: 50vw;
    object-fit: scale-down;
    grid-row: 1 / 2;
    max-height: 220px;
    align-self: center;
}

.img-cart{
    justify-self: left;
    padding-left: 1rem;
}

.img-basic{
    justify-self: center;
}

.shift-item-wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    p{
        font-size: 24px;
    }
}